.airdrop-page {
    height: 100vh;
    /* background: linear-gradient(0deg, rgba(40,195,34,1) 25%, rgba(136,224,17,1) 71%); */
    background-image: url('../../Images/BG-1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}