 .mushroom-logo {
   width: 205px;
   height: 250px;
   background-size: cover;
   background-position: center;
   position: relative;
   top: 25%;
   z-index: 1;
   transform-origin: center bottom;
   transition: transform 0.3s ease-out;
   /* display: flex;
    justify-content: center;
    align-items: ; */
 }

 /* .mushroom-logo img {
   width: 100%;
   height: 100%;
 }

 .mushroom-head {
   width: 160px;
   height: 115px;
   background: #61310f;
   border-radius: 100px 100px 30px 30px;
   box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
 }

 .mushroom-foot {
   border-bottom: 90px solid #e1d6d0;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   height: 3px;
   width: 90px;
   border-radius: 10px;
   position: relative;
   left: 50%;
   top: -3px;
   transform: translateX(-50%);
 } */

 .click-number {
   position: absolute;
   font-size: 20px;
   font-weight: bold;
   color: rgb(241, 225, 7);
   z-index: 5;
   animation: flyUp 1s ease-out forwards;
 }

 @keyframes flyUp {
   from {
     opacity: 1;
     transform: translate(-10px, 30px);
   }

   to {
     opacity: 0;
     transform: translate(-10px, -120px);
   }
 }