.main-page{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 50% 20%;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    background-image: url('../../Images/main-BG1.png');
    /* background-image: url('../../Images/BG-1.png'); */
    background-size: cover;
    background-position: center;
  }